/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.sprite-ogo.avto {
  background-image: url(/images/sprites/sprite-ogo.png);
  background-position: 0px 0px;
  width: 24px;
  height: 24px;
}
.sprite-ogo.biznes {
  background-image: url(/images/sprites/sprite-ogo.png);
  background-position: -26px 0px;
  width: 24px;
  height: 24px;
}
.sprite-ogo.bydivnitstvo {
  background-image: url(/images/sprites/sprite-ogo.png);
  background-position: 0px -26px;
  width: 24px;
  height: 24px;
}
.sprite-ogo.neryhomist {
  background-image: url(/images/sprites/sprite-ogo.png);
  background-position: -26px -26px;
  width: 24px;
  height: 24px;
}
.sprite-ogo.pobyt {
  background-image: url(/images/sprites/sprite-ogo.png);
  background-position: -52px 0px;
  width: 24px;
  height: 24px;
}
.sprite-ogo.robota {
  background-image: url(/images/sprites/sprite-ogo.png);
  background-position: -52px -26px;
  width: 24px;
  height: 24px;
}
